.k_border{
    border: 1px solid #eeeeee;
}
.k_box{
    border: 1px solid #cccccc;
}
.outline{
    outline:none;
}
.k_outline:focus{
    box-shadow: none;
    outline: 3px solid #000;
    border-radius: 5px !important;
}
.k_logo{
    text-decoration: none;
    color: #555555;
    font-size: 0.8em;
    }
.k_p_fs{
    font-size:13px;
    color:#999999;
}
.k_hover:hover {
    color: #555555 !important;
}
@media only screen and (max-width: 300px) {
    .k_box,mt-5,row,offset-3{
        display: none;
    }   
}
@media only screen and (min-width: 300px) {
    .text-center,error_msg{
        display: none;
    }   
}
@media only screen and (max-width: 767px) {
    body{
    width: 100% !important;
    margin: 0px !important;
    }
    .row ,offset-4,col-4,p-4,k_border,mt-5{
        margin: 0px auto !important;
        padding: 0px !important;
    }
}
@media only screen and (min-width: 767px) {
    body{
    width: 50% !important;
    margin: 0px auto !important;
    }
}
